[default]
{% if item.region is defined %}
region = {{ item.region }}
{% endif %}

{% if item.s3_configuration | length > 0 %}
s3 =
{%   for line in item.s3_configuration %}
  {{ line }}
{%   endfor %}
{% endif %}
