---
name: Lint

"on":
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install ansible ansible-lint black yamllint

      - name: Run yamllint
        run: yamllint .
        env:
          PY_COLORS: "1"

      - name: Run ansible-lint
        run: ansible-lint
        env:
          PY_COLORS: "1"

      - name: Run black
        run: black --check .
        env:
          PY_COLORS: "1"
